/****** Object:  Database [MyqqPirate]    Script Date: 2021-12-14 下午 01:53:36 ******/
CREATE DATABASE [MyqqPirate]   WITH CATALOG_COLLATION = DATABASE_DEFAULT;
GO
/****** Object:  Table [dbo].[QQAccount]    Script Date: 2021-12-14 下午 01:53:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QQAccount](
	[QQID] [varchar](10) NOT NULL,
	[QQpwd] [varchar](16) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[QQAccount] ([QQID], [QQpwd]) VALUES (N'1234567890', N'1234567890')
INSERT [dbo].[QQAccount] ([QQID], [QQpwd]) VALUES (N'987654321', N'1234567890')
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'QQ账号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'QQAccount', @level2type=N'COLUMN',@level2name=N'QQID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'QQ密码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'QQAccount', @level2type=N'COLUMN',@level2name=N'QQpwd'
GO
