USE [master]
GO
/****** Object:  Database [Ticket]    Script Date: 2022-01-09 19:16:40 ******/
CREATE DATABASE [Ticket]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ticket', FILENAME = N'E:\02-作业\03-SQL C#\02-C# 代码\16-复习-01-07\飞机订单系统\DataBase\Ticket.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 4096KB )
 LOG ON 
( NAME = N'Ticket_log', FILENAME = N'E:\02-作业\03-SQL C#\02-C# 代码\16-复习-01-07\飞机订单系统\DataBase\Ticket_log.ldf' , SIZE = 4096KB , MAXSIZE = 2048GB , FILEGROWTH = 4096KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ticket].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ticket]
GO
/****** Object:  Table [dbo].[plane]    Script Date: 2022-01-09 19:16:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[plane](
	[PlaneId] [int] IDENTITY(1,1) NOT NULL,
	[planeNo] [varchar](50) NULL,
	[LeaveCity] [varchar](50) NULL,
	[ArriveCity] [varchar](50) NULL,
	[LeaveTime] [datetime] NULL,
	[Price] [int] NULL,
 CONSTRAINT [PK_plane] PRIMARY KEY CLUSTERED 
(
	[PlaneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[plane] ON 

INSERT [dbo].[plane] ([PlaneId], [planeNo], [LeaveCity], [ArriveCity], [LeaveTime], [Price]) VALUES (1, N'6142', N'长沙', N'上粟市', CAST(N'2022-01-09T15:17:08.480' AS DateTime), 180)
SET IDENTITY_INSERT [dbo].[plane] OFF
GO
USE [master]
GO
