USE [master]
GO
/****** Object:  Database [Database]    Script Date: 2022-02-11 14:10:24 ******/
CREATE DATABASE [Database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Database', FILENAME = N'E:\S1\02-作业\03-SQL C#\02-C# 代码\20-寒假作业项目-01-20-30\DataBase\Database.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 4096KB )
 LOG ON 
( NAME = N'Database_log', FILENAME = N'E:\S1\02-作业\03-SQL C#\02-C# 代码\20-寒假作业项目-01-20-30\DataBase\Database_log.ldf' , SIZE = 4096KB , MAXSIZE = 2048GB , FILEGROWTH = 4096KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Database]
GO
/****** Object:  Table [dbo].[Administrator_02]    Script Date: 2022-02-11 14:10:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrator_02](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
 CONSTRAINT [PK_Administrator_02] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommonUser_01]    Script Date: 2022-02-11 14:10:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommonUser_01](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CommonUser_01] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Administrator_02] ON 

INSERT [dbo].[Administrator_02] ([ID], [Name], [Password]) VALUES (1, N'yun', N'12345')
SET IDENTITY_INSERT [dbo].[Administrator_02] OFF
GO
SET IDENTITY_INSERT [dbo].[CommonUser_01] ON 

INSERT [dbo].[CommonUser_01] ([ID], [Name], [Password]) VALUES (1, N'ning', N'12qwe')
INSERT [dbo].[CommonUser_01] ([ID], [Name], [Password]) VALUES (2, N'人才', N'1234')
INSERT [dbo].[CommonUser_01] ([ID], [Name], [Password]) VALUES (3, N'芭莎', N'123')
SET IDENTITY_INSERT [dbo].[CommonUser_01] OFF
GO
USE [master]
GO
