USE [master]
GO
/****** Object:  Database [XR_StudentDB]    Script Date: 2022-01-10 15:15:13 ******/
CREATE DATABASE [XR_StudentDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'XR_StudentDB', FILENAME = N'E:\02-作业\03-SQL C#\02-C# 代码\17-考试-01-10\DataBase\XR_StudentDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 4096KB )
 LOG ON 
( NAME = N'XR_StudentDB_log', FILENAME = N'E:\02-作业\03-SQL C#\02-C# 代码\17-考试-01-10\DataBase\XR_StudentDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 4096KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [XR_StudentDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [XR_StudentDB]
GO
/****** Object:  Table [dbo].[XR_Class]    Script Date: 2022-01-10 15:15:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XR_Class](
	[XRCID] [int] IDENTITY(1,1) NOT NULL,
	[XRCName] [varchar](50) NULL,
 CONSTRAINT [PK_XR_Class] PRIMARY KEY CLUSTERED 
(
	[XRCID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XR_Student]    Script Date: 2022-01-10 15:15:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XR_Student](
	[XRID] [int] IDENTITY(1,1) NOT NULL,
	[XRName] [varchar](50) NOT NULL,
	[XRSex] [varchar](50) NOT NULL,
	[XRBirthDay] [datetime] NOT NULL,
	[XRAge] [int] NULL,
	[XRclass] [int] NULL,
 CONSTRAINT [PK_XR_Student] PRIMARY KEY CLUSTERED 
(
	[XRID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[XR_Class] ON 

INSERT [dbo].[XR_Class] ([XRCID], [XRCName]) VALUES (1, N'新睿1班')
INSERT [dbo].[XR_Class] ([XRCID], [XRCName]) VALUES (2, N'新睿2班')
INSERT [dbo].[XR_Class] ([XRCID], [XRCName]) VALUES (3, N'新睿3班')
SET IDENTITY_INSERT [dbo].[XR_Class] OFF
GO
SET IDENTITY_INSERT [dbo].[XR_Student] ON 

INSERT [dbo].[XR_Student] ([XRID], [XRName], [XRSex], [XRBirthDay], [XRAge], [XRclass]) VALUES (1, N'徐广宁', N'男', CAST(N'1905-05-28T00:00:00.000' AS DateTime), 12, 3)
INSERT [dbo].[XR_Student] ([XRID], [XRName], [XRSex], [XRBirthDay], [XRAge], [XRclass]) VALUES (2, N'徐广宁', N'男', CAST(N'2004-01-30T00:00:00.000' AS DateTime), 12, 3)
INSERT [dbo].[XR_Student] ([XRID], [XRName], [XRSex], [XRBirthDay], [XRAge], [XRclass]) VALUES (3, N'寜', N'女', CAST(N'2001-01-04T00:00:00.000' AS DateTime), 12, 2)
SET IDENTITY_INSERT [dbo].[XR_Student] OFF
GO
USE [master]
GO
