USE [master]
GO
/****** Object:  Database [MembersInfo_DB]    Script Date: 2022-01-09 01:35:42 ******/
CREATE DATABASE [MembersInfo_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MembersInfo_DB', FILENAME = N'E:\02-作业\03-SQL C#\02-C# 代码\16-复习-01-07\管理员系统\DataBase\MembersInfo_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 4096KB )
 LOG ON 
( NAME = N'MembersInfo_DB_log', FILENAME = N'E:\02-作业\03-SQL C#\02-C# 代码\16-复习-01-07\管理员系统\DataBase\MembersInfo_DB_log.ldf' , SIZE = 4096KB , MAXSIZE = 2048GB , FILEGROWTH = 4096KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MembersInfo_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MembersInfo_DB]
GO
/****** Object:  Table [dbo].[Membersinfo]    Script Date: 2022-01-09 01:35:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Membersinfo](
	[M_ID] [int] IDENTITY(1,1) NOT NULL,
	[M_Name] [varchar](50) NULL,
	[M_Pwd] [varchar](50) NULL,
	[M_Sex] [varchar](50) NULL,
	[M_Age] [int] NULL,
	[M_arrdess] [varchar](50) NULL,
	[M_Email] [varchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Membersinfo] ON 

INSERT [dbo].[Membersinfo] ([M_ID], [M_Name], [M_Pwd], [M_Sex], [M_Age], [M_arrdess], [M_Email]) VALUES (1, N'ning', N'1111', N'女', 12, N'地球', N'3174902862@qq.com')
INSERT [dbo].[Membersinfo] ([M_ID], [M_Name], [M_Pwd], [M_Sex], [M_Age], [M_arrdess], [M_Email]) VALUES (2, N'寜樱', N'1111', N'女', 14, N'不知道', N'1234567890@qq.com')
INSERT [dbo].[Membersinfo] ([M_ID], [M_Name], [M_Pwd], [M_Sex], [M_Age], [M_arrdess], [M_Email]) VALUES (3, N'寜樱', N'1111', N'女', 14, N'不知道', N'1234567890@qq.com')
SET IDENTITY_INSERT [dbo].[Membersinfo] OFF
GO
USE [master]
GO
